<div *ngFor="let viajes of viajeObservable| async" >
  <div *ngIf="viajes.id==id">

   



  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{{viajes.banner}}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
            <h1 class="display-1" style="text-shadow: 2px 2px 4px #000000; color: white">{{viajes.titulo}}</h1>
        </div>
        </div>
        
    </div>

  <div class="container">
        <main class="content" role="main">
          <h1 class="bd-title" id="content">{{viajes.description}}</h1>
         
          
<p>{{viajes.texto}} <br>
  <a href="/mostrar">volver atras</a></p>
</main>
</div>
</div>
</div>
        
           